.about-page {
    max-width: 800px;
    margin: 50px auto;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  .about-page h1 {
    text-align: center;
    margin-bottom: 20px;
  }
  .about-page img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
    margin-bottom: 20px;
  }
  .about-page p {
    text-align: justify;
    color: #fff;  }
  .main-body-1{
    background-color: black;
    box-shadow: 0 0 25px rgba(71, 37, 224, 0.904),
    0 0 25px rgba(71, 37, 224, 0.904);
    padding: 20px;
  }
  .main-body{
    background-color: black;
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .logo{
    height: 50px;
    width: 50px;
  }